## ORM
Object Relational Mapping ... Programming technique!

**왜 ORM을 써야하는가??**
1. Mismatch between the object model and the relational database
2. ORM frees the programmer from dealing with simple repetitive databases queries
3. **Automatically mapping the database to business objects**
4. Programmers focus more on business problems and less with data storage

Disadvantages
- Potentially increasing processing overhead

예제
- 요구사항(ER Model...ERD)
    - 이걸 그냥 Sql로 짤 수도 있고,
    - OOP관점에서 객체를 생성할 수도 있고 (Class)

sql문을 쓰면 모두가 알아볼 수 있는데, ORM의 경우 나 혼자만 써야한다~

web framework -> ORM -> database connector -> relational database 이렇게 이루어져 있다.

excess하려면 언제나 Connector가 있어야 한다!

### SQLAlchemy

처음엔 SQLAlchemy Core를 사용할 것이다~
1. Engine
    - Starting Point!
    - connection을 생성하게끔 무엇을 등록해줘야 한다~
    - 클래스를 sql문으로 만들어주는 중간다리
2. Dialect
    - 일종의 cursor와 같은 역할
    - interprets generic SQL and database commands
3. Connection Pool
    - Lazy Connection...??

In [6]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\ikjong\anaconda3\envs\cuda\lib\site-packages (1.3.5)

You are using pip version 19.0.2, however version 19.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [7]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

In [8]:
sqlalchemy.__version__

'1.3.5'

In [9]:
from sqlalchemy import create_engine
## connectivity를 만들 수 있게끔 registry 를 만든다.
## dialect+driver://username:password@host:port/database

In [10]:
engine = create_engine("sqlite://",echo = True)
#engine = create_engine("sqlite://:memory:", echo = True)
#engine = create_engine("sqlite://create.db", echo = True)

In [11]:
print(engine)

Engine(sqlite://)

- Lazy connecting
- echo flag는 하나하나 어떻게 완료 되었는지 보여줌

In [12]:
type(engine)

sqlalchemy.engine.base.Engine

In [13]:
dir(sqlalchemy.schema.Table)
#Table, Column, MetaData

['__and__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__invert__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__visit_name__',
 '__weakref__',
 '_annotate',
 '_annotations',
 '_autoincrement_column',
 '_autoload',
 '_clone',
 '_cloned_set',
 '_cols_populated',
 '_compiler',
 '_compiler_dispatch',
 '_constructor',
 '_copy_internals',
 '_deannotate',
 '_execute_on_connection',
 '_extra_kwargs',
 '_from_objects',
 '_hide_froms',
 '_init',
 '_init_collections',
 '_init_existing',
 '_init_items',
 '_is_clone_of',
 '_is_from_container',
 '_is_join',
 '_is_lateral',
 '_is_lexical_equivalent',
 '_is_select',
 '_kw_reg_for_dialect',
 '_kw_reg_for_dialect_cls',
 '_kw_registry',
 '_memoized_property',
 '_negate',
 '_order_by_label_element',
 '_params',
 '_populate_column_collection',
 '_refresh_for_new_column',
 '_reset_exported',
 '_schema_item_copy',
 '_select_iterable',
 '_set_parent',
 '_set_parent_with_dispatch',
 '_sorted_constraints',
 '_textual',
 '_translate_schema',
 '_validate_dialect_kwargs',
 '_with_annotations',
 'add_is_dependent_on',
 'alias',
 'append_column',
 'append_constraint',
 'append_ddl_listener',
 'argument_for',
 'bind',
 'c',
 'columns',
 'compare',
 'compile',
 'correspond_on_equivalents',
 'corresponding_column',
 'count',
 'create',
 'delete',
 'description',
 'dialect_kwargs',
 'dialect_options',
 'dispatch',
 'drop',
 'exists',
 'foreign_key_constraints',
 'foreign_keys',
 'get_children',
 'implicit_returning',
 'info',
 'insert',
 'is_clause_element',
 'is_derived_from',
 'is_selectable',
 'join',
 'key',
 'kwargs',
 'lateral',
 'named_with_column',
 'outerjoin',
 'params',
 'primary_key',
 'quote',
 'quote_schema',
 'replace_selectable',
 'schema',
 'select',
 'selectable',
 'self_group',
 'supports_execution',
 'tablesample',
 'tometadata',
 'unique_params',
 'update']

In [6]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

어제 했던 것과 크게 다르지 않음 단지 OOP 관점에서~

In [15]:
metadata = MetaData()

In [16]:
users = Table('users', metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String),
    Column('fullname', String)
     )
addresses = Table('addresses', metadata,
    Column('id', Integer, primary_key=True),
    Column('user_id', None, ForeignKey('users.id')),
    Column('email_address', String, nullable=False)
     )

In [17]:
metadata.tables

immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'addresses': Table('addresses', MetaData(bind=None), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), Column('email_address', String(), table=<addresses>, nullable=False), schema=None)})

In [18]:
metadata.create_all(engine)
#echo = True로 줬기 때문에 log가 다 찍힌다~
#그리고 자동으로 commit까지 다 해준다!
# 테이블 만들었는데, 수정하고싶어요? ... 싹 밀고 새로해야한다.

2019-07-09 13:32:37,118 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 13:32:37,119 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:32:37,120 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 13:32:37,120 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:32:37,121 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 13:32:37,122 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:32:37,123 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2019-07-09 13:32:37,123 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:32:37,124 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2019-07-09 13:32:37,125 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:32:37,125 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:32:37,126 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2019-07-09 13:32:37,127 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:32:37,128 INFO sqlalchemy.engine.base.Engine COMMIT

Pk 와 Fk 를 줬기 때문에, on 절에서 따로 뭐를 안해도 편하게 join이 가능하다~

In [19]:
insert = users.insert() ##메서드이다~ 그래서 클래스의 insert가 있을 것이다.
print(insert) ##query인지 확인하는 것

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)

In [20]:
insert = users.insert().values(name='kim', fullname='Anonymous, Kim')
print(insert)
##parameter인 value들을 넘겼다. Pk는 지정 안해도 된다.

INSERT INTO users (name, fullname) VALUES (:name, :fullname)

In [21]:
insert.compile().params
#compile을 통해서 compile된 parameter들을 확인한다~

{'fullname': 'Anonymous, Kim', 'name': 'kim'}

In [22]:
print(users.select())

SELECT users.id, users.name, users.fullname
FROM users

In [23]:
select = users.select()
select.compile().params
##아직 compile하지 않았다~

{}

In [24]:
conn = engine.connect()

In [25]:
conn

In [26]:
insert.bind = engine

In [27]:
str(insert)

'INSERT INTO users (name, fullname) VALUES (?, ?)'

In [28]:
cur = conn.execute(insert)

2019-07-09 13:32:38,170 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2019-07-09 13:32:38,170 INFO sqlalchemy.engine.base.Engine ('kim', 'Anonymous, Kim')
2019-07-09 13:32:38,170 INFO sqlalchemy.engine.base.Engine COMMIT

In [29]:
cur.inserted_primary_key

[1]

In [30]:
insert = users.insert()

In [31]:
result = conn.execute(insert,
                     name="lee",
                     fullname="Unknown, Lee")
result

2019-07-09 13:32:38,520 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2019-07-09 13:32:38,520 INFO sqlalchemy.engine.base.Engine ('lee', 'Unknown, Lee')
2019-07-09 13:32:38,522 INFO sqlalchemy.engine.base.Engine COMMIT

In [32]:
result.inserted_primary_key

[2]

In [33]:
conn.execute(addresses.insert(),[
    {"user_id":1, "email_address":"anonymous.kim@test.com"},
    {"user_id":2, "email_address":"unknown.lee@test.com"}
])
## insert로써 첫번째 로그
## 뒤에 데이터를 집어넣으니 다음 로그
## execute를 통한 commit 로그
##log를 보면서 commit이 언제 이루어지는지를 봐야한다~

2019-07-09 13:32:38,683 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, email_address) VALUES (?, ?)
2019-07-09 13:32:38,684 INFO sqlalchemy.engine.base.Engine ((1, 'anonymous.kim@test.com'), (2, 'unknown.lee@test.com'))
2019-07-09 13:32:38,685 INFO sqlalchemy.engine.base.Engine COMMIT

In [34]:
from sqlalchemy.sql import select

In [35]:
users

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None)

In [36]:
[users]

[Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None)]

In [37]:
query = select([users])
query

In [38]:
result = conn.execute(query)

2019-07-09 13:32:39,215 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2019-07-09 13:32:39,216 INFO sqlalchemy.engine.base.Engine ()

In [39]:
for row in result:
    print(row)

(1, 'kim', 'Anonymous, Kim')
(2, 'lee', 'Unknown, Lee')

In [40]:
result = conn.execute(select([users.c.name, users.c.fullname]))

2019-07-09 13:32:39,402 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname
FROM users
2019-07-09 13:32:39,403 INFO sqlalchemy.engine.base.Engine ()

In [41]:
for row in result:
    print(row)

('kim', 'Anonymous, Kim')
('lee', 'Unknown, Lee')

In [42]:
cur = conn.execute(select([users]))
cur.fetchall()

2019-07-09 13:32:39,588 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2019-07-09 13:32:39,588 INFO sqlalchemy.engine.base.Engine ()

[(1, 'kim', 'Anonymous, Kim'), (2, 'lee', 'Unknown, Lee')]

In [43]:
result.inserted_primary_key

InvalidRequestError: Statement is not an insert() expression construct.

In [44]:
from sqlalchemy import and_, or_, not_

In [45]:
##얘네들은 다 query이다! users.c의 c는 컬럼!
print(users.c.id == addresses.c.user_id)
print(users.c.id == 1)
print((users.c.id == 1).compile().params)
print(or_(users.c.id == addresses.c.user_id, users.c.id==1))
print(and_(users.c.id == addresses.c.user_id, users.c.id==1))
print(and_(
        or_(users.c.id == addresses.c.user_id, users.c.id==1)),
        addresses.c.email_address.like("a%"))

users.id = addresses.user_id
users.id = :id_1
{'id_1': 1}
users.id = addresses.user_id OR users.id = :id_1
users.id = addresses.user_id AND users.id = :id_1
users.id = addresses.user_id OR users.id = :id_1 addresses.email_address LIKE :email_address_1

In [46]:
result = conn.execute(select([users]).where(users.c.id==1))

2019-07-09 13:32:39,940 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.id = ?
2019-07-09 13:32:39,941 INFO sqlalchemy.engine.base.Engine (1,)

In [47]:
for row in result:
    print(row)

[x for x in result]

(1, 'kim', 'Anonymous, Kim')

[]

In [48]:
result = conn.execute(select([users,addresses]).where(users.c.id==addresses.c.user_id))
##cross join 은 from 에서 두개를 가져왔다!
#where절 말고도 group_by, order_by 등등도 있을 것이다!

2019-07-09 13:32:40,225 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, addresses.id, addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id
2019-07-09 13:32:40,226 INFO sqlalchemy.engine.base.Engine ()

In [49]:
for row in result:
    print(row)

(1, 'kim', 'Anonymous, Kim', 1, 1, 'anonymous.kim@test.com')
(2, 'lee', 'Unknown, Lee', 2, 2, 'unknown.lee@test.com')

In [50]:
from sqlalchemy import join

In [51]:
print(users.join(addresses))
## unsers에 addresses를 조인할 것이다
## Pk와 Fk를 지정하였기 때문에 알아서 해준다~

users JOIN addresses ON users.id = addresses.user_id

In [52]:
print(users.join(addresses,
                users.c.id == addresses.c.user_id))
## 앞에 아이는 Pk 이고 뒤에 놈은 Fk이다. 원래 이 형식으로 하였었다!

users JOIN addresses ON users.id = addresses.user_id

In [93]:
query = select([users.c.id,
               users.c.fullname,
               addresses.c.email_address]).select_from(users.join(addresses))

In [54]:
result = conn.execute(query).fetchall()

2019-07-09 13:32:40,985 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.fullname, addresses.email_address
FROM users JOIN addresses ON users.id = addresses.user_id
2019-07-09 13:32:40,986 INFO sqlalchemy.engine.base.Engine ()

In [55]:
for row in result:
    print(row)

(1, 'Anonymous, Kim', 'anonymous.kim@test.com')
(2, 'Unknown, Lee', 'unknown.lee@test.com')

In [56]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

In [57]:
metadata.tables

immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'addresses': Table('addresses', MetaData(bind=None), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), Column('email_address', String(), table=<addresses>, nullable=False), schema=None)})

In [71]:
metadata.clear()

In [72]:
metadata.tables

immutabledict({})

In [73]:
artist = Table("Artist",metadata,
                Column("id", Integer, primary_key=True),
                Column("name", String, nullable=False),
                extend_existing=True)

In [74]:
album = Table("Album",metadata,
               Column("id", Integer, primary_key=True),
               Column("title", String, nullable=False),
               Column("artist_id", String, ForeignKey("Artist.id")),
               extend_existing=True)

In [75]:
genre = Table("Genre",metadata,
                Column("id", Integer, primary_key=True),
                Column("name", String, nullable=False),
                extend_existing=True)

In [76]:
track = Table("Track",metadata,
               Column("id", Integer, primary_key=True),
               Column("title", String, nullable=False),
               Column("length", Integer, nullable=False),
               Column("rating", Integer, nullable=False),
               Column("count", Integer, nullable=False),
               Column("album_id", String, ForeignKey("Album.id")),
               Column("genre_id", String, ForeignKey("Genre.id")),
               extend_existing=True)

In [77]:
metadata.create_all(engine)

2019-07-09 13:38:56,825 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 13:38:56,825 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:38:56,826 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 13:38:56,826 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:38:56,826 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 13:38:56,827 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:38:56,827 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 13:38:56,828 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:38:56,829 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 13:38:56,829 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:38:56,830 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:38:56,831 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 13:38:56,831 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:38:56,831 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:38:56,832 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2019-07-09 13:38:56,833 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:38:56,833 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:38:56,834 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id VARCHAR,
	genre_id VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2019-07-09 13:38:56,835 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:38:56,835 INFO sqlalchemy.engine.base.Engine COMMIT

In [78]:
sql = """
INSERT INTO ARTIST (NAME) VALUES ('Led Zepplin');
INSERT INTO ARTIST (NAME) VALUES ('AC/DC');

INSERT INTO GENRE (NAME) VALUES ('Rock');
INSERT INTO GENRE (NAME) VALUES ('Metal');

INSERT INTO ALBUM (TITLE, ARTIST_ID) VALUES ('Who Made Who', 2);
INSERT INTO ALBUM (TITLE, ARTIST_ID) VALUES ('IV', 1);

INSERT INTO TRACK (TITLE, RATING, LENGTH, COUNT, ALBUM_ID, GENRE_ID) VALUES ('Black Dog', 5, 297, 0, 2, 1);
INSERT INTO TRACK (TITLE, RATING, LENGTH, COUNT, ALBUM_ID, GENRE_ID) VALUES ('Stairway', 5, 482, 0, 2, 1);
INSERT INTO TRACK (TITLE, RATING, LENGTH, COUNT, ALBUM_ID, GENRE_ID) VALUES ('About to Rock', 5, 313, 0, 1, 2);
INSERT INTO TRACK (TITLE, RATING, LENGTH, COUNT, ALBUM_ID, GENRE_ID) VALUES ('Who Made Who', 5, 207, 0, 1, 2);
"""

In [79]:
conn.execute(artist.insert(),[
    {"name":'Led Zepplin'},
    {"name":'Led AC/DC'}
])
conn.execute(album.insert(),[
    {"title":'IV', "artist_id":1},
    {"title":'Who Made Who', "artist_id":2}
])
conn.execute(genre.insert(),[
    {"name":'Rock'},
    {"name":'Metal'}
])

2019-07-09 13:50:15,661 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 13:50:15,661 INFO sqlalchemy.engine.base.Engine (('Led Zepplin',), ('Led AC/DC',))
2019-07-09 13:50:15,662 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:50:15,663 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2019-07-09 13:50:15,663 INFO sqlalchemy.engine.base.Engine (('IV', 1), ('Who Made Who', 2))
2019-07-09 13:50:15,664 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:50:15,665 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2019-07-09 13:50:15,665 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Metal',))
2019-07-09 13:50:15,666 INFO sqlalchemy.engine.base.Engine COMMIT

In [81]:
conn.execute(track.insert(),[
    {"title":'Black Dog', "rating":1, "length":297, "count":0, "album_id":1, "genre_id":1},
    {"title":'Stairway', "rating":4, "length":482, "count":0, "album_id":1, "genre_id":1},
    {"title":'About to rock', "rating":3, "length":313, "count":0, "album_id":2, "genre_id":2},
    {"title":'Who Made Who', "rating":2, "length":297, "count":0, "album_id":2, "genre_id":2},
])

2019-07-09 13:52:38,579 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2019-07-09 13:52:38,579 INFO sqlalchemy.engine.base.Engine (('Black Dog', 297, 1, 0, 1, 1), ('Stairway', 482, 4, 0, 1, 1), ('About to rock', 313, 3, 0, 2, 2), ('Who Made Who', 297, 2, 0, 2, 2))
2019-07-09 13:52:38,580 INFO sqlalchemy.engine.base.Engine COMMIT

In [98]:
tables = metadata.tables
for table in tables:
    print(table)

Track
Album
Genre
Artist

In [99]:
for table in engine.table_names():
    print(table)

2019-07-09 14:06:57,935 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:06:57,936 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track
addresses
users

In [100]:
result = conn.execute(album.join(artist).select())

2019-07-09 14:08:48,225 INFO sqlalchemy.engine.base.Engine SELECT "Album".id, "Album".title, "Album".artist_id, "Artist".id, "Artist".name
FROM "Album" JOIN "Artist" ON "Artist".id = "Album".artist_id
2019-07-09 14:08:48,226 INFO sqlalchemy.engine.base.Engine ()

In [101]:
result.fetchall()

[(1, 'IV', '1', 1, 'Led Zepplin'), (2, 'Who Made Who', '2', 2, 'Led AC/DC')]

In [113]:
result = conn.execute(track.join(album).select())

2019-07-09 14:11:31,469 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Album".id, "Album".title, "Album".artist_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
2019-07-09 14:11:31,470 INFO sqlalchemy.engine.base.Engine ()

In [114]:
for row in result:
    print(row)

(1, 'Black Dog', 297, 1, 0, '1', '1', 1, 'IV', '1')
(2, 'Stairway', 482, 4, 0, '1', '1', 1, 'IV', '1')
(3, 'About to rock', 313, 3, 0, '2', '2', 2, 'Who Made Who', '2')
(4, 'Who Made Who', 297, 2, 0, '2', '2', 2, 'Who Made Who', '2')

In [116]:
result = conn.execute(track.select().select_from(track.join(album)))

2019-07-09 14:13:07,835 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
2019-07-09 14:13:07,835 INFO sqlalchemy.engine.base.Engine ()

In [117]:
for row in result.fetchall():
    print(row)

(1, 'Black Dog', 297, 1, 0, '1', '1')
(2, 'Stairway', 482, 4, 0, '1', '1')
(3, 'About to rock', 313, 3, 0, '2', '2')
(4, 'Who Made Who', 297, 2, 0, '2', '2')

In [118]:
print(track.join(album).join(genre).join(artist))

"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id

In [119]:
result = conn.execute(track.join(album).join(genre).join(artist).select())

2019-07-09 14:14:29,789 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Album".id, "Album".title, "Album".artist_id, "Genre".id, "Genre".name, "Artist".id, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2019-07-09 14:14:29,789 INFO sqlalchemy.engine.base.Engine ()

In [121]:
result.fetchall()

[(1, 'Black Dog', 297, 1, 0, '1', '1', 1, 'IV', '1', 1, 'Rock', 1, 'Led Zepplin'),
 (2, 'Stairway', 482, 4, 0, '1', '1', 1, 'IV', '1', 1, 'Rock', 1, 'Led Zepplin'),
 (3, 'About to rock', 313, 3, 0, '2', '2', 2, 'Who Made Who', '2', 2, 'Metal', 2, 'Led AC/DC'),
 (4, 'Who Made Who', 297, 2, 0, '2', '2', 2, 'Who Made Who', '2', 2, 'Metal', 2, 'Led AC/DC')]

In [126]:
result = conn.execute(select([track.c.title, album.c.title, genre.c.name, artist.c.name])
                      .select_from(track.join(album).join(genre).join(artist)))

2019-07-09 14:18:23,885 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2019-07-09 14:18:23,886 INFO sqlalchemy.engine.base.Engine ()

In [127]:
for row in result:
    print(row)

('Black Dog', 'IV', 'Rock', 'Led Zepplin')
('Stairway', 'IV', 'Rock', 'Led Zepplin')
('About to rock', 'Who Made Who', 'Metal', 'Led AC/DC')
('Who Made Who', 'Who Made Who', 'Metal', 'Led AC/DC')

In [128]:
conn.close()

In [129]:
metadata.clear()

In [133]:
metadata.tables

immutabledict({})

In [137]:
for table in engine.table_names():
    print(table)

2019-07-09 14:21:12,526 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:21:12,527 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track
addresses
users

메모리에 들어있진 않고, 현재 DB에만 데이터가 존재하는 상태

In [140]:
metadata = MetaData(bind=engine, reflect=True)
metadata.reflect(bind=engine)

2019-07-09 14:24:23,740 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:24:23,740 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,741 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 14:24:23,741 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,742 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 14:24:23,742 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,743 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2019-07-09 14:24:23,743 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,744 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 14:24:23,744 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,745 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 14:24:23,745 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,746 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 14:24:23,746 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,747 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2019-07-09 14:24:23,747 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,748 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 14:24:23,748 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,749 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2019-07-09 14:24:23,749 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,749 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2019-07-09 14:24:23,750 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,750 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 14:24:23,751 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,752 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2019-07-09 14:24:23,752 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,753 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2019-07-09 14:24:23,753 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,754 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 14:24:23,754 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,755 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 14:24:23,755 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,756 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 14:24:23,757 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,757 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2019-07-09 14:24:23,758 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,758 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 14:24:23,759 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,759 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2019-07-09 14:24:23,760 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,760 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2019-07-09 14:24:23,761 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,761 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 14:24:23,762 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,762 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 14:24:23,763 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,765 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 14:24:23,766 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,766 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2019-07-09 14:24:23,767 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,767 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 14:24:23,768 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,768 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2019-07-09 14:24:23,769 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,769 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2019-07-09 14:24:23,770 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,770 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 14:24:23,771 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,771 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2019-07-09 14:24:23,772 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,773 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'addresses' AND type = 'table'
2019-07-09 14:24:23,773 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,773 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("addresses")
2019-07-09 14:24:23,774 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,774 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'addresses' AND type = 'table'
2019-07-09 14:24:23,775 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,775 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 14:24:23,776 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,777 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2019-07-09 14:24:23,777 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,778 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("users")
2019-07-09 14:24:23,778 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,779 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2019-07-09 14:24:23,779 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,780 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")
2019-07-09 14:24:23,780 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,781 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")
2019-07-09 14:24:23,781 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,782 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2019-07-09 14:24:23,783 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,784 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("addresses")
2019-07-09 14:24:23,784 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,785 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("addresses")
2019-07-09 14:24:23,785 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,786 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'addresses' AND type = 'table'

2019-07-09 14:24:23,786 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:23,787 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:24:23,788 INFO sqlalchemy.engine.base.Engine ()
Track
users
Artist
Genre
addresses
Album

C:\Users\Ikjong\Anaconda3\envs\cuda\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: The MetaData.reflect flag is deprecated and will be removed in a future release.   Please use the MetaData.reflect() method.
  """Entry point for launching an IPython kernel.

In [142]:
for row in metadata.tables:
    print(row)
##일하는 땅이 서로 다르다는 것을 말해준다
##ORM이 사용하는 영역과 DB상(engine)에서 있는 영역

Track
users
Artist
Genre
addresses
Album

ORM은 결국 Database랑 메모리랑 Mapping 시켜주는 역할!

In [210]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///newdb.db", echo=True)

In [211]:
from sqlalchemy.ext.declarative import declarative_base

In [212]:
base = declarative_base()

In [213]:
base

sqlalchemy.ext.declarative.api.Base

In [214]:
class User(base):
    __tablename__ = "users"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column("passwd", String)
    
    def __repr__(self):
        return "<T'User(name=' %s', fullname = '%s' password='%s')>"% (self.name, self.fullname, self.password)

In [215]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('passwd', String(), table=<users>), schema=None)

In [216]:
print(User.__mapper__)

mapped class User->users

In [217]:
base.metadata.create_all(engine)

2019-07-09 14:49:12,008 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:49:12,009 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:49:12,010 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:49:12,010 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:49:12,011 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 14:49:12,011 INFO sqlalchemy.engine.base.Engine ()

In [218]:
kim = User(name="kim", fullname= "anonymous, Kim", password='kh')

In [219]:
print(kim)

<T'User(name=' kim', fullname = 'anonymous, Kim' password='kh')>

In [220]:
print(kim.id)

None

In [9]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

In [222]:
session.add(kim)

In [223]:
session.add_all([
    User(name="lee", fullname= "unknown, Lee", password='12345'),
    User(name="park", fullname= "nobody, Park", password='Ikjong Park')
])

In [224]:
session.commit()

2019-07-09 14:49:15,979 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 14:49:15,980 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:49:15,981 INFO sqlalchemy.engine.base.Engine ('kim', 'anonymous, Kim', 'kh')
2019-07-09 14:49:15,988 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:49:15,989 INFO sqlalchemy.engine.base.Engine ('lee', 'unknown, Lee', '12345')
2019-07-09 14:49:15,990 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:49:15,990 INFO sqlalchemy.engine.base.Engine ('park', 'nobody, Park', 'Ikjong Park')
2019-07-09 14:49:15,991 INFO sqlalchemy.engine.base.Engine COMMIT

In [225]:
session.dirty

IdentitySet([])

In [226]:
kim.password= "password"

In [227]:
session.add(kim)

In [228]:
session.dirty

2019-07-09 14:49:23,920 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 14:49:23,920 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
WHERE users.id = ?
2019-07-09 14:49:23,921 INFO sqlalchemy.engine.base.Engine (4,)

IdentitySet([<T'User(name=' kim', fullname = 'anonymous, Kim' password='password')>])

In [232]:
session.is_modified(kim)
##수정 되었는지 확인 하는것!

False

In [233]:
print(kim.id)

2019-07-09 14:58:26,446 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 14:58:26,447 INFO sqlalchemy.engine.base.Engine SELECT users.passwd AS users_passwd, users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
WHERE users.id = ?
2019-07-09 14:58:26,448 INFO sqlalchemy.engine.base.Engine (4,)
4

In [231]:
session.commit()

2019-07-09 14:58:05,483 INFO sqlalchemy.engine.base.Engine UPDATE users SET passwd=? WHERE users.id = ?
2019-07-09 14:58:05,484 INFO sqlalchemy.engine.base.Engine ('password', 4)
2019-07-09 14:58:05,494 INFO sqlalchemy.engine.base.Engine COMMIT

In [234]:
kim.__mapper__

In [235]:
for row in session.query(User):
    print(type(row))
    print(row.id, row.name, row.fullname, row.password)
    ##클래스니까 00.name 이런식으로 집근이 가능한 것이다~

2019-07-09 15:10:34,626 INFO sqlalchemy.engine.base.Engine SELECT users.passwd AS users_passwd, users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
2019-07-09 15:10:34,626 INFO sqlalchemy.engine.base.Engine ()
<class '__main__.User'>
1 kim anonymous, Kim kh
<class '__main__.User'>
2 lee unknown, Lee 12345
<class '__main__.User'>
3 park nobody, Park Ikjong Park
<class '__main__.User'>
4 kim anonymous, Kim password
<class '__main__.User'>
5 lee unknown, Lee 12345
<class '__main__.User'>
6 park nobody, Park Ikjong Park

In [238]:
for row in session.query(User.id, User.fullname).filter(User.name == "lee"):
    print(type(row))
    print(row.id, row.fullname)

2019-07-09 15:13:24,602 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.fullname AS users_fullname
FROM users
WHERE users.name = ?
2019-07-09 15:13:24,602 INFO sqlalchemy.engine.base.Engine ('lee',)
<class 'sqlalchemy.util._collections.result'>
2 unknown, Lee
<class 'sqlalchemy.util._collections.result'>
5 unknown, Lee

In [255]:
base.metadata.create_all(engine)

2019-07-09 15:23:42,268 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 15:23:42,269 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:23:42,270 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 15:23:42,270 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:23:42,271 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 15:23:42,271 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:23:42,272 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 15:23:42,273 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:23:42,273 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 15:23:42,274 INFO sqlalchemy.engine.base.Engine ()

In [256]:
class Artist(base):
    __tablename__ = "Artist"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
class Album(base):
    __tablename__ = "Album"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    artist_id = Column(Integer, ForeignKey("Artist.id"))

class Genre(base):
    __tablename__ = "Genre"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
class Track(base):
    __tablename__ = "Track"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    length = Column(Integer)
    rating = Column(Integer)
    count = Column(Integer)
    album_id = Column(Integer, ForeignKey("Album.id"))
    genre_id = Column(Integer, ForeignKey("Genre.id"))

C:\Users\Ikjong\Anaconda3\envs\cuda\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:129: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Artist, and will be replaced in the string-lookup table.
  % (item.__module__, item.__name__)

InvalidRequestError: Table 'Artist' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [261]:
Session = sessionmaker(bind=engine)
session = Session()

In [262]:
a1 = Artist(name="Led Zepplin")

In [263]:
a2 = Artist(name="AC/DC")

In [264]:
session.add_all([a1,a2])

In [265]:
session.commit()

2019-07-09 15:24:31,778 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 15:24:31,779 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 15:24:31,779 INFO sqlalchemy.engine.base.Engine ('Led Zepplin',)
2019-07-09 15:24:31,781 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 15:24:31,782 INFO sqlalchemy.engine.base.Engine ('AC/DC',)
2019-07-09 15:24:31,783 INFO sqlalchemy.engine.base.Engine COMMIT

In [267]:
album = [Album(title='IV', artist_id=a1.id),
         Album(title='Who Made Who', artist_id=a2.id),
         ]

2019-07-09 15:26:13,839 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 15:26:13,840 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
WHERE "Artist".id = ?
2019-07-09 15:26:13,840 INFO sqlalchemy.engine.base.Engine (1,)
2019-07-09 15:26:13,842 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
WHERE "Artist".id = ?
2019-07-09 15:26:13,842 INFO sqlalchemy.engine.base.Engine (2,)

In [268]:
session.add_all(album)
session.commit()

2019-07-09 15:26:30,594 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2019-07-09 15:26:30,595 INFO sqlalchemy.engine.base.Engine ('IV', 1)
2019-07-09 15:26:30,605 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2019-07-09 15:26:30,605 INFO sqlalchemy.engine.base.Engine ('Who Made Who', 2)
2019-07-09 15:26:30,606 INFO sqlalchemy.engine.base.Engine COMMIT

In [270]:
session.add_all([Genre(name="Rock"), Genre(name="Metal")])

In [271]:
session.commit()

2019-07-09 15:27:24,107 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 15:27:24,109 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2019-07-09 15:27:24,109 INFO sqlalchemy.engine.base.Engine ('Rock',)
2019-07-09 15:27:24,112 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2019-07-09 15:27:24,112 INFO sqlalchemy.engine.base.Engine ('Metal',)
2019-07-09 15:27:24,113 INFO sqlalchemy.engine.base.Engine COMMIT

데이터 입력 더하고 jon까지 해야한다~

## Relationship
이 아이를 해주는 순간 그냥 artist가 album을 찾아간다~

이 친구는 클래스 안에서 관계를 생성해준다!

그 클래스 안에 relation을 생성해주면 class : relation 이 1:n 관계이다

그래서 굳이 jon을 타고 가진 않아도 된다!

In [1]:
from sqlalchemy.orm import relationship

In [2]:
class User(base):
    __tablename__ = "users"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column("passwd", String)
    
    def __repr__(self):
        return "<T'User(name=' %s', fullname = '%s' password='%s')>"% (self.name, self.fullname, self.password)

NameError: name 'base' is not defined

In [7]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///newdb3.db", echo=True)

from sqlalchemy.ext.declarative import declarative_base

base = declarative_base()

base

sqlalchemy.ext.declarative.api.Base

In [10]:
Session = sessionmaker(bind=engine)
session = Session()

In [11]:
class Artist(base):
    __tablename__ = "Artist"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
    albumList = relationship("Album", back_populates="artist")
    
class Album(base):
    __tablename__ = "Album"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    artist_id = Column(Integer, ForeignKey("Artist.id"))
    
    artist = relationship("Artist", back_populates="albumList", uselist=False)
    trackList = relationship("Track", back_populates="album")

class Genre(base):
    __tablename__ = "Genre"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
    trackList = relationship("Track", back_populates="genre")
    
class Track(base):
    __tablename__ = "Track"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    length = Column(Integer)
    rating = Column(Integer)
    count = Column(Integer)
    album_id = Column(Integer, ForeignKey("Album.id"))
    genre_id = Column(Integer, ForeignKey("Genre.id"))
    
    album = relationship("Album", back_populates="trackList", uselist=False)
    genre = relationship("Genre", back_populates="trackList", uselist=False)

In [12]:
base.metadata.create_all(engine)

2019-07-10 20:45:22,358 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-10 20:45:22,364 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 20:45:22,367 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-10 20:45:22,369 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 20:45:22,373 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-10 20:45:22,374 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 20:45:22,379 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-10 20:45:22,381 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 20:45:22,384 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-10 20:45:22,385 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 20:45:22,390 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-10 20:45:22,391 INFO sqlalchemy.engine.base.Engine ()

In [13]:
track1 = Track(title="A",rating=4,length=297,count=0)
track2 = Track(title="B",rating=2,length=482,count=0)
track3 = Track(title="C",rating=1,length=313,count=0)
track4 = Track(title="D",rating=3,length=297,count=0)

In [14]:
track1.album = track2.album = Album(title='IV')
track3.album = track4.album = Album(title='Who Made Who')

In [15]:
track1.genre = track3.genre = Genre(name="Rock")
track2.genre = track4.genre = Genre(name="Metal")

In [16]:
track1.album.artist = track2.album.artist = Artist(name="Led Zepplin")
track3.album.artist = track4.album.artist = Artist(name="AC/DC|")

In [17]:
print(track1.id, track1.album.id, track1.genre.id)

None None None

In [19]:
print(track1.title, track1.album.title, track3.album.artist.name)

A IV AC/DC|

In [22]:
session.add(track1)

In [23]:
session.add(track2)

In [27]:
session.add(track3)

In [28]:
session.add(track4)

In [29]:
session.commit()